<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/web/index">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">책 검색 서비스</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <li class="nav-item active">
        <a class="nav-link" href="/web/index">
            <i class="fas fa-fw fa-table"></i>
            <span>검색</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/web/history">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>검색이력</span>
        </a>
    </li>

    <li class="nav-item">
            <a class="nav-link" href="/web/top10">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>인기 검색 키워드</span>
            </a>
        </li>

</ul>