<!DOCTYPE html>
<html lang="ko">

<head>

  <#include "/layout/header.html">

    <title>책 검색 서비스</title>

    <link href="/static/vendor/pagination/pagination.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <#include "/layout/sidebar.html">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <#include "/layout/topbar.html">

            <div class="container-fluid">
                <nav class="navbar navbar-expand navbar-light bg-white mb-4 shadow">
                    <div class="input-group">
                        <input type="text" id="searchTxt" class="form-control bg-light border-0 small" placeholder="검색어"
                               aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button id="searchBtn" class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </nav>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">책 검색 결과</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>ISBN</th>
                                    <th>제목</th>
                                    <th>저자</th>
                                    <th>출판사</th>
                                    <th>판매가</th>
                                </tr>
                                </thead>
                                <tbody id="data-container">

                                </tbody>
                            </table>
                            <div id="dataTable"></div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <#include "/layout/footer.html">

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<#include "/layout/logout.html">

<!--book detail modal-->
<div class="modal fade" id="bookDetailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">상세정보</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
              <div class="card mb-4 py-3 border-left-success">
                <div id="bookThumbnail" class="card-body">
                </div>
                <div id="book-detail-container" class="card-body">
                  <div class="text-lg mb-1">제목 : </div>
                  <p id="bookTitle" class="mb-3 small"></p>
                  <div class="text-lg mb-1">소개 : </div>
                  <p id="bookContent" class="mb-3 small"></p>
                  <div class="text-lg mb-1">ISBN : </div>
                  <p id="bookIsbn" class="mb-3 small"></p>
                  <div class="text-lg mb-1">저자 : </div>
                  <p id="bookAuthor" class="mb-3 small"></p>
                  <div class="text-lg mb-1">출판사 : </div>
                  <p id="bookPublisher" class="mb-3 small"></p>
                  <div class="text-lg mb-1">출판일 : </div>
                  <p id="bookDatetime" class="mb-3 small"></p>
                  <div class="text-lg mb-1">정가 : </div>
                  <p id="bookPrice" class="mb-3 small"></p>
                  <div class="text-lg mb-1">판매가 : </div>
                  <p id="bookSalePrice" class="mb-3 small"></p>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/static/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/static/vendor/pagination/pagination.js"></script>

<script type="text/javascript">
  var BookApp = {

    pageInit : function(){
      BookApp.event.init();
    }, 

    pagination : {

      load : function() {
        var search = $('#searchTxt');

        if(!search.val()){
          alert("검색어를 입력해주세요.");
          return;
        }

        BookApp.pagination.init(search);

      },

      init : function(search){

        $('#dataTable').pagination({
          dataSource: '/search/book?search='+search.val(),
          locator: 'data',
          totalNumberLocator: function(response) {
              return response.totalSize;
          },
          alias: {
              pageNumber: 'start',
              pageSize: 'length'
          }, 
          ajax: {
            beforeSend: function(xhr) {
              BookApp.event.initToken(xhr);
            },
            error: function(jqXHR, textStatus){
              BookApp.event.errorHandler(jqXHR, textStatus);
            }
          },
          callback: function (data, pagination) {
            BookApp.pagination.tableRender(data,pagination);
          }
        })
      },

      tableRender : function(data, pagination){
        var dataHtml = '';

        $.each(data, function (index, item) {
            dataHtml += '<tr>';

            
            if(item.isbn){
              dataHtml += '<th><a href="#" data-toggle="modal" onClick="BookApp.service.searchBookDetail(\''+ $.trim(item.isbn) +'\')" data-target="#bookDetailModal">' + item.isbn + '</a></th>';
            }else{
              dataHtml += '<th>' + item.isbn + '</th>';
            }

            dataHtml += '<th>' + item.title + '</th>';
            dataHtml += '<th>' + item.author + '</th>';
            dataHtml += '<th>' + item.publisher + '</th>';
            dataHtml += '<th>' + item.salePrice + '</th>';
            dataHtml += '</tr>';
        });

        $("#data-container").html(dataHtml);
      }
    },

    service : {
      searchBookDetail : function(isbn){
        $.ajax({
          url:'/search/book/detail?isbn='+isbn,
          type:'GET',
          beforeSend: function(xhr) {
            BookApp.event.initToken(xhr);
          },
          success: function(res){
            BookApp.page.clearBookDetail();
            BookApp.page.renderBookDetail(res.data);
          },
          error: function(jqXHR, textStatus, error){
            BookApp.event.errorHandler(jqXHR, textStatus);
          },
          timeout: 2000
        })

      }
    },
    page : {
      clearBookDetail : function(){
        const bookThumbnail = $("#bookThumbnail");
        bookThumbnail.children("img").remove();
        
        const bookDetailContainer = $("#book-detail-container");
        bookDetailContainer.children("#bookTitle").empty();
        bookDetailContainer.children("#bookContent").empty();
        bookDetailContainer.children("#bookIsbn").empty();
        bookDetailContainer.children("#bookAuthor").empty();
        bookDetailContainer.children("#bookPublisher").empty();
        bookDetailContainer.children("#bookDatetime").empty();
        bookDetailContainer.children("#bookPrice").empty();
        bookDetailContainer.children("#bookSalePrice").empty();

      },
      renderBookDetail : function(data){
        const bookDetailContainer = $("#book-detail-container");

        bookDetailContainer.children("#bookTitle").html(data.title);
        bookDetailContainer.children("#bookContent").html(data.contents);
        bookDetailContainer.children("#bookIsbn").html(data.isbn);
        bookDetailContainer.children("#bookAuthor").html(data.author);
        bookDetailContainer.children("#bookPublisher").html(data.publisher);
        bookDetailContainer.children("#bookDatetime").html(data.datetime);
        bookDetailContainer.children("#bookPrice").html(data.price);
        bookDetailContainer.children("#bookSalePrice").html(data.salePrice);

        const bookThumbnail = $("#bookThumbnail");

        bookThumbnail.append("<img src="+data.thumbnail+">");
      }
    },
    event : {
      init : function(){
        $('#searchBtn').on('click', function() {
          BookApp.pagination.load();
        });

        $("#searchTxt").keyup(function(e){
          if(e.keyCode == 13) 
            BookApp.pagination.load(); 
        });

      },

      errorHandler : function(jqXHR, textStatus){
        alert(jqXHR.responseJSON.message);

        if(jqXHR.status == 401){
          location.href = '/';
          localStorage.removeItem('token');
        }
      },

      initToken : function(xhr){
        const token = localStorage.getItem('token');
        xhr.setRequestHeader("Authorization", "Bearer " + token);
      }
    },

  }

  $(document).ready(function() {
    try {
      BookApp.pageInit();
    } catch(e) {
      alert("Error : " + e.toString());
    }
  });

</script>

</body>

</html>
