<!DOCTYPE html>
<html lang="ko">

<head>

  <#include "/layout/header.html">

    <title>인기 키워드</title>

    <link href="/static/vendor/pagination/pagination.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <#include "/layout/sidebar.html">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <#include "/layout/topbar.html">

            <div class="container-fluid">

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">인기 키워드</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>검색어</th>
                                    <th>검색횟수</th>
                                </tr>
                                </thead>
                                <tbody id="data-container">

                                </tbody>
                            </table>
                            <div id="dataTable"></div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <#include "/layout/footer.html">

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<#include "/layout/logout.html">

<!-- Bootstrap core JavaScript-->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/static/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/static/vendor/pagination/pagination.js"></script>

<script type="text/javascript">
  var BookApp = {

    pageInit : function(){
      BookApp.pagination.init();
    }, 

    pagination : {

      init : function(search){

        $('#dataTable').pagination({
          dataSource: '/keyWord/top10',
          locator: 'data',
          totalNumberLocator: function(response) {
              return response.totalSize;
          },
          alias: {
              pageNumber: 'start',
              pageSize: 'length'
          }, 
          ajax: {
            beforeSend: function(xhr) {
              BookApp.event.initToken(xhr);
            },
            error: function(jqXHR, textStatus){
              BookApp.event.errorHandler(jqXHR, textStatus);
            }
          },
          callback: function (data, pagination) {
            BookApp.pagination.tableRender(data,pagination);
          }
        })
      },

      tableRender : function(data, pagination){
        var dataHtml = '';

        $.each(data, function (index, item) {
            dataHtml += '<tr>';
            dataHtml += '<th>' + item.keyWord + '</th>';
            dataHtml += '<th>' + item.callCount + '</th>';
            dataHtml += '</tr>';
        });

        $("#data-container").html(dataHtml);
      }
    },
    event : {
      init : function(){
        $('#searchBtn').on('click', function() {
          BookApp.pagination.load();
        });

        $("#searchTxt").keyup(function(e){
          if(e.keyCode == 13) 
            BookApp.pagination.load(); 
        });

      },

      errorHandler : function(jqXHR, textStatus){
        alert(jqXHR.responseJSON.message);

        if(jqXHR.status == 401){
          location.href = '/';
          localStorage.removeItem('token');
        }
      },

      initToken : function(xhr){
        const token = localStorage.getItem('token');
        xhr.setRequestHeader("Authorization", "Bearer " + token);
      }
    },

  }

  $(document).ready(function() {
    try {
      BookApp.pageInit();
    } catch(e) {
      alert("Error : " + e.toString());
    }
  });

</script>

</body>

</html>
